.container {
    width: 600px;
    margin: 5% auto;
    font-size: 25px;
}

.box-table  {
    border: 1px solid gray;
    display: table;
    font-size: 18px;
}

.table-title {
    font-size: 18px;
    text-align: center;
}

.table {
    padding: 0 25px;
}
